<body> 
  <div class="hero"><h1> {{name}} </h1>
<div class="box">
  <p> Bachelor of Science in Computer Engineering <br>
      Subject: Cpe 6L <br>
      Section: CpE - 2b </p></div> 
<table style="width:25%">
  <tr>
    <td>Birthday</td>
    <th>April 14,2001</th>
  </tr>
  <tr>
    <td>Age</td>
    <th>19 yrs.old</th>
  </tr><tr>
    <td>Address</td>
    <th>6-279 Bgry. San Buenaventura Luisiana,Laguna</th>
  </tr>
</table>
  <div class="side-bar"></div>
  <div class="bar">
    <p> ABOUT ME</p>
    <br>
    <p> I'am crazy person, who likes a lot things and I'm also a curious cat. I think that I'am a friendly person. I'am the only child of the family, I'm the unico ijo. I also like to play some online games but I'm not pro kind of thing. I just play for fun. Mobile Legends: Bangbang currently in Mythic V rank and in LoL Wildrift I'am beta testing. I'm not good on Math but I think I'm slightly good in Science. I also like Animes and Kpop. I the BlackPink and my bias is Lisa and Rose. <br><br> I think that is all about me. <br><br><br> Thanks!!!<br>ありがとうございました<br>Arigatōgozaimashita<br>감사합니다<br>Kamsahamnida <br>
    </div>  

   






